# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**

- Describe how to use the notebooks in JupyterLab.
- Describe how to work in a notebook session.
- Describe the basic Jupyter architecture.
- Describe how to work with kernels.
- Identify tools in Anaconda Jupyter environments.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

| Data Science Tools | 
| -------------|
| Apache Hadoop |
| Apache Spark | 
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Wilson Andres MAdrigal Vega